openapi: 3.1.0
info:
  title: Bench-Spec API
  version: 0.1.0
  description: Shared API for prompt benchmark suite management, run execution, result retrieval, and metrics aggregation.

servers:
  - url: https://api.bench-spec.dev/v1
    description: Production
  - url: http://localhost:8080/v1
    description: Local development

tags:
  - name: suites
    description: Benchmark suite management
  - name: runs
    description: Benchmark run execution
  - name: results
    description: Result retrieval
  - name: metrics
    description: Metrics aggregation

paths:
  /suites:
    get:
      tags: [suites]
      operationId: listSuites
      summary: List benchmark suites
      parameters:
        - $ref: "#/components/parameters/PageOffset"
        - $ref: "#/components/parameters/PageLimit"
      responses:
        "200":
          description: Paginated list of suites
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginationMeta"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/SuiteSummary"
    post:
      tags: [suites]
      operationId: createSuite
      summary: Create a benchmark suite
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SuiteCreate"
      responses:
        "201":
          description: Suite created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Suite"
        "400":
          $ref: "#/components/responses/BadRequest"

  /suites/{suiteId}:
    parameters:
      - $ref: "#/components/parameters/SuiteId"
    get:
      tags: [suites]
      operationId: getSuite
      summary: Get a suite by ID
      responses:
        "200":
          description: Suite details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Suite"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [suites]
      operationId: deleteSuite
      summary: Delete a suite
      responses:
        "204":
          description: Suite deleted
        "404":
          $ref: "#/components/responses/NotFound"

  /suites/{suiteId}/runs:
    parameters:
      - $ref: "#/components/parameters/SuiteId"
    post:
      tags: [runs]
      operationId: createRun
      summary: Execute a benchmark run for a suite
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RunCreate"
      responses:
        "202":
          description: Run accepted for execution
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Run"
        "404":
          $ref: "#/components/responses/NotFound"
    get:
      tags: [runs]
      operationId: listRuns
      summary: List runs for a suite
      parameters:
        - $ref: "#/components/parameters/PageOffset"
        - $ref: "#/components/parameters/PageLimit"
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/RunStatus"
      responses:
        "200":
          description: Paginated list of runs
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginationMeta"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/RunSummary"

  /runs/{runId}:
    parameters:
      - name: runId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags: [runs]
      operationId: getRun
      summary: Get run details and status
      responses:
        "200":
          description: Run details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Run"
        "404":
          $ref: "#/components/responses/NotFound"

  /runs/{runId}/cancel:
    parameters:
      - name: runId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags: [runs]
      operationId: cancelRun
      summary: Cancel a running benchmark
      responses:
        "200":
          description: Run cancelled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Run"
        "409":
          $ref: "#/components/responses/Conflict"

  /runs/{runId}/results:
    parameters:
      - name: runId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags: [results]
      operationId: getRunResults
      summary: Retrieve results for a completed run
      parameters:
        - $ref: "#/components/parameters/PageOffset"
        - $ref: "#/components/parameters/PageLimit"
      responses:
        "200":
          description: Paginated results
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginationMeta"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Result"
        "404":
          $ref: "#/components/responses/NotFound"

  /suites/{suiteId}/metrics:
    parameters:
      - $ref: "#/components/parameters/SuiteId"
    get:
      tags: [metrics]
      operationId: getSuiteMetrics
      summary: Aggregated metrics across runs for a suite
      parameters:
        - name: agg
          in: query
          description: Aggregation method
          schema:
            type: string
            enum: [mean, median, max, min]
            default: mean
      responses:
        "200":
          description: Aggregated metrics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregatedMetrics"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  parameters:
    SuiteId:
      name: suiteId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    PageOffset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
    PageLimit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50

  schemas:
    PaginationMeta:
      type: object
      properties:
        offset:
          type: integer
        limit:
          type: integer
        total:
          type: integer

    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: Machine-readable error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: object
          additionalProperties: true

    SuiteCreate:
      type: object
      required: [name, prompts, models]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 256
        description:
          type: string
          maxLength: 2048
        prompts:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/PromptEntry"
        models:
          type: array
          minItems: 1
          items:
            type: string
        evaluator:
          $ref: "#/components/schemas/EvaluatorConfig"
        tags:
          type: object
          additionalProperties:
            type: string

    PromptEntry:
      type: object
      required: [id, template]
      properties:
        id:
          type: string
          minLength: 1
        template:
          type: string
          minLength: 1
        variables:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Variable name to list of test values

    EvaluatorConfig:
      type: object
      properties:
        type:
          type: string
          enum: [exact_match, contains, llm_judge, regex, custom]
        params:
          type: object
          additionalProperties: true
      required: [type]

    SuiteSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        promptCount:
          type: integer
        modelCount:
          type: integer
        createdAt:
          type: string
          format: date-time
      required: [id, name, promptCount, modelCount, createdAt]

    Suite:
      allOf:
        - $ref: "#/components/schemas/SuiteSummary"
        - type: object
          properties:
            description:
              type: string
            prompts:
              type: array
              items:
                $ref: "#/components/schemas/PromptEntry"
            models:
              type: array
              items:
                type: string
            evaluator:
              $ref: "#/components/schemas/EvaluatorConfig"
            tags:
              type: object
              additionalProperties:
                type: string

    RunCreate:
      type: object
      properties:
        modelOverrides:
          type: array
          items:
            type: string
        paramOverrides:
          type: object
          additionalProperties: true
        callbackUrl:
          type: string
          format: uri

    RunStatus:
      type: string
      enum: [queued, running, completed, failed, cancelled]

    RunSummary:
      type: object
      required: [id, suiteId, status, createdAt]
      properties:
        id:
          type: string
          format: uuid
        suiteId:
          type: string
          format: uuid
        status:
          $ref: "#/components/schemas/RunStatus"
        createdAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time

    Run:
      allOf:
        - $ref: "#/components/schemas/RunSummary"
        - type: object
          properties:
            paramOverrides:
              type: object
              additionalProperties: true
            modelOverrides:
              type: array
              items:
                type: string
            resultCount:
              type: integer
            error:
              type: string

    ScoreValue:
      type: object
      required: [metric, value]
      properties:
        metric:
          type: string
        value:
          type: number

    Result:
      type: object
      required: [id, runId, promptId, model, scores]
      properties:
        id:
          type: string
          format: uuid
        runId:
          type: string
          format: uuid
        promptId:
          type: string
        model:
          type: string
        output:
          type: string
        latencyMs:
          type: number
        tokenUsage:
          type: object
          properties:
            prompt:
              type: integer
            completion:
              type: integer
            total:
              type: integer
        scores:
          type: array
          items:
            $ref: "#/components/schemas/ScoreValue"
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time

    AggregatedMetrics:
      type: object
      required: [suiteId, method, metrics]
      properties:
        suiteId:
          type: string
          format: uuid
        method:
          type: string
          enum: [mean, median, max, min]
        runCount:
          type: integer
        metrics:
          type: object
          additionalProperties:
            type: object
            properties:
              overall:
                type: number
              byModel:
                type: object
                additionalProperties:
                  type: number
              byPrompt:
                type: object
                additionalProperties:
                  type: number

  responses:
    BadRequest:
      description: Invalid request body or parameters
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: INVALID_INPUT
            message: "prompts must contain at least one entry"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: NOT_FOUND
            message: "Suite not found"
    Conflict:
      description: Conflict with current state
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: CONFLICT
            message: "Run is not in a cancellable state"